version: "3.8"

services:
  migrate:
    image: migrate/migrate
    command: [
      "-path", "/migrations",
      "-database", "postgres://argo:argo@db:5432/MS_db?sslmode=disable",
      "up"
    ]
    volumes:
      - ./migrations:/migrations
    depends_on:
      db:
        condition: service_healthy
  user_service:
    build:
      context: .
      dockerfile: docker/user-service.Dockerfile
    ports:
      - "50051:50051"
    environment:
      - KAFKA_BROKER_ADDRESS=kafka:9092
      - APP_DATABASE_HOST=db
      - APP_DATABASE_PORT=5432
      - APP_DATABASE_USER=argo
      - APP_DATABASE_PASSWORD=argo
      - APP_DATABASE_DBNAME=MS_db
      - APP_DATABASE_SSLMODE=disable
    depends_on:
      db:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "50051"]
      interval: 30s
      timeout: 5s
      retries: 3


  cart_service:
    build:
      context: .
      dockerfile: docker/cart-service.Dockerfile
    ports:
      - "50053:50053"
    environment:
      - APP_DATABASE_HOST=db
      - APP_DATABASE_PORT=5432
      - APP_DATABASE_USER=argo
      - APP_DATABASE_PASSWORD=argo
      - APP_DATABASE_DBNAME=MS_db
      - APP_DATABASE_SSLMODE=disable
    depends_on:
      db:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully

  product_service:
    build:
      context: .
      dockerfile: docker/product-service.Dockerfile
    ports:
      - "50052:50052"
    environment:
      - APP_DATABASE_HOST=db
      - APP_DATABASE_PORT=5432
      - APP_DATABASE_USER=argo
      - APP_DATABASE_PASSWORD=argo
      - APP_DATABASE_DBNAME=MS_db
      - APP_DATABASE_SSLMODE=disable
    depends_on:
      db:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully



  db:
    image: postgres:15
    command: ["postgres", "-c", "password_encryption=md5"]
    restart: always
    environment:
      POSTGRES_USER: argo
      POSTGRES_PASSWORD: argo
      POSTGRES_DB: MS_db
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U argo"]
      interval: 5s
      timeout: 5s
      retries: 5
  grpcui:
    image: fullstorydev/grpcui
    ports:
      - "8080:8080"
    command: [
      "-plaintext",
      "user_service:50051"
    ]
    depends_on:
      # - cart_service
      # - product_service
      user_service:
        condition: service_healthy

  zookeeper:
    image: wurstmeister/zookeeper:latest
    ports:
      - "2181:2181"
    healthcheck:
      test: ["CMD-SHELL", "echo ruok | nc -w 3 localhost 2181 | grep imok || exit 1"]
      interval: "10s"
      timeout: "5s"
      retries: 5
  
  kafka:
    image: wurstmeister/kafka:latest
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
    # healthcheck:
    #   test: ["CMD-SHELL", "timeout 10 bash -c `</dev/tcp/localhost/9092` || exit 1"]
    #   interval: "20s"
    #   timeout: "15s"
    #   retries: 5
    depends_on:
      zookeeper:
        condition: service_healthy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  pgdata:
